#grid div {
    width: 5%;
    height: 5%;
    margin: 0.25%;
    float: left;
    background-color: #FFFFFF;
}
#grid {
    width: 60vw;
    height: 60vw;
    background-color: #525252;
    display: block;
    list-style-type: none;
    list-style-position: inside;

}
body {
    padding: 0px;
    margin: 0px;
}
