#grid .pix {
    width: 5%;
    height: 5%;
    margin: 0.25%;
    float: left;
    background-color: #000000;
    z-index: 1;
}
.grid-container {
    width: 60vw;
    display: block;
    height: 60vw;
    float: left;

}

#grid {
    background-color: #525252;
    list-style-type: none;
    list-style-position: inside;
    height: 94%;
    padding-top: 3%;
    padding-right: 2%;
    padding-left: 3%;
    padding-bottom: 2%;
    width: 94%;

}
body p {
}
#xlabel {
    width: 60vw;
    margin-left: 20vw;
    padding-left: 3vw;
    display: block;
    float: left;
    margin-top: -3vw;
}
#ylabel {
    width: 5vw;
    margin-left: 15vw;
    float: left;
    display: block;
    text-align: right;
    font-size: large;
    margin-top: 3.5vw;
    height: 60vw;
}
.ylab {
    margin-top: 2%;
    height: 5%;
    margin-bottom: 0px;
}


.xlab {
    width: 5%;
    float: left;
    line-height: normal;
    font-size: large;
    margin-left: 0.15%;
    padding-left: 0px;
    height: 5%;
    margin-top: 1%;
}


body {
    padding: 0px;
    margin: 0px;
    background-color: #333333;
    color: #FFFFFF;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
#title {
    text-align: center;
    width: 80vw;
    margin-left: 10vw;
}
#title h2 {
    color: #A20000;
    font-size: 359%;
    margin-bottom: -1.5vw;
}
#colSel {
    width: 5.5%;
    height: 100%;
    background-color: #FFFFFF;
    margin-top: -0.5%;
    z-index: 10;
    opacity: 0.5;
}
#rowSel {
    width: 5.5%;
    height: 5.5%;
    background-color: #FFFFFF;
    z-index: 10;
    opacity: 0.5;
}
.info-container #copyright {
    float: left;
    width: 50%;
}
.info-container #host {
    float: right;
    width: 40%;
    text-align: right;
}
.info-container #host a {
    color: #A20000;
    text-align: right;
}

.info-container {
    float: left;
    clear: both;
    color: #B1B1B1;
    width: 80%;
    margin-left: 10%;
}







.switch {
    background-color: #AA0000;
    width: 10%;
    height: 4vw;
    float: left;
    border-radius: 0px;
    font-size: x-large;
    border-width: 0.5%;
    margin-left: 0.5%;
    border-color: #1B1B1B;
}
.switch:hover {
    background-color: #760000;
}


#submit {
    float: right;
    width: 10%;
    height: 4vw;
    background-color: #00AA00;
    border-width: 0.5%;
    border-color: #0E0E0E;
    font-size: large;
}

#count-container {
    width: 26%;
    float: right;
    margin-left: 4%;
    font-size: large;
    margin-bottom: 5vw;
}
#control-container {
    width: 70%;
    float: left;
}


.switch.active {
    background-color: #00AA00;
}
.switch.active:hover {
    background-color: #005F00;
}
#title {
}
#counter div {
    color: #A20000;
    float: left;
    margin-top: -22px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 40%;
    clear: left;
    font-size: xx-large;
    font-weight: bold;
}

#counter p {
    float: left;
    width: 60%;
}

@media (max-width:720px){
p  {
    font-size: x-large;

}
#title {
    font-size: x-large;
}
#count-container {
    width: 60vw;
    float: right;
    text-align: center;

}
#counter div {
    text-align: right;
}
.info-container {
    font-size: medium;
    width: 94vw;
    margin-left: 3vw;
    margin-right: 3vw;
}
#copyright {
}

#host {
    width: 50%;
    text-align: left;
    padding-left: 0px;
}
#xlabel {
    margin-left: 4vw;
    margin-top: -5vw;
    width: 90vw;
}
.grid-container {
    width: 90vw;
    height: 90vw;
    margin-right: 0px;
    float: left;
    margin-left: 1vw;
}
#ylabel {
    width: 2vw;
    margin-left: 1vw;
    font-size: medium;
    text-align: right;
    float: left;
    height: 90vw;
    margin-right: 0px;
    z-index: 2;
    padding-top: 2vw;
}
.ylab {
    font-size: large;
    padding-top: 0px;
    height: 5.1%;
}



#xlabel .xlab {
    text-align: center;

}





#statecount {
    font-size: x-large;
    text-align: center;
}

#control-container {
    width: 90vw;
    height: 16vw;
    margin-left: 5vw;
    padding-left: 0px;
}
#control-container ul {
    padding: 0px;
    margin: 0px;
}

.switch {
    height: 9vw;
    width: 12%;
}
#submit {
    height: 9vw;
    clear: left;
    float: left;
    margin-top: 2vw;
    width: 22.2vw;
}







}
